<!DOCTYPE html>

<h1>Usuarios cadastrados</h1>

<center> <%= will_paginate %> </center>

<!--
</table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Opções</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    < @user.each do |usuarios| >
      <tr>
        <td><= usuarios.name %></td>
        <td><= usuarios.email %></td>
        <td><= usuarios.password_digest %></td>
        <td><= link_to 'Exibir', '#' %></td>
        <td><= link_to 'Editar', edit_user_path(usuarios) %></td>
        <td><= link_to 'Excluir', usuarios, method: :delete, data: { confirm: 'Deseja realmente exluir?' } %></td>
      </tr>
    < end >
  </tbody>
</table>
-->

<ul class="users">
  <% @users.each do |user| %>
    <li>
     <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
     <!-- <= render @users > --> <br />
 <!-- < if current_user.admin? && !current_user?(user) > -->
    <%= link_to "Excluir usuario", user, method: :delete, data: { confirm: "Deseja realmente excluir este usuario? ID: #{user.id}" } %>
 <!-- < end > -->
    </li>
  <% end %>
</ul>

<center> <%= will_paginate %> </center>

<%= link_to 'Cadastrar-se', new_user_path %>
