<!DOCTYPE html>

<p id="notice"><%= notice %></p>
<!--LINHA ADICIONADA -->

<h1> Informações de usuario </h1>

<div class="row">
    <aside class="col-md-5">
      <section class="user_info">
      <h1>
        <label> Avatar </label> </h1>
        <%= gravatar_for @user %>
        <section class="stats">
         <%= render 'shared/stats' %>
        </section>
 	<label> Nome </label>
        <%= @user.name %>
        <label> Email </label>
        <%= @user.email %>
        <hr />
        <h4> Informações da conta </h4>
        <label> Ativado </label>
	<%= @user.activated %>         
        <label> Data de ativação </label>
        <%=  @user.activated_at %>  
        <label> Administrador </label>
        <%= @user.admin %>
    </section>
  </aside>

 <div class="col-md-5">
     <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>


</div>

<br />

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Excluir', user_path(@user), method: :delete, data: {confirm: 'Deseja realmente exluir?' } %> |
<%= link_to 'Voltar', users_path %>

